@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Oxygen', sans-serif;
  padding: 16px;
}

body{
  background-color: #14213D;
  color: white;
  /* background: linear-gradient(135deg, #000000 0%, #14213D 100%); */
}

h1{
  font-size: 9.5rem;
  font-weight: 700;
}

h2{
  font-size: 5.9rem;
  font-weight: 700;
  line-height: 95px;
}

h3{
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 78px;
}

h5{
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 39px;
}


p{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
}

header{
  position: relative;
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

header > img{
  height: 70px;
}

nav>ul>li {
  display: inline-block;
  margin: 1vh;
}

nav>ul>li>a {
  text-decoration: none;
  color: white;
}

main{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
}

.data__title > *{
  padding-top: 10px;
}

.data__photo > img {
  width: auto;
  height: 300px;
}

.data__social{
  display: flex;
  justify-content: space-evenly;
}

.data__social--square{
  background-color: #FCA311;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 4px;
}

.aboutme {
  text-align: center;
}

.aboutme :nth-child(1){
  font-weight: 300;
}

.aboutme :nth-child(2){
  padding: 24px 0;
}
