@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Oxygen', sans-serif;
  font-size: 62.5%;
  padding: 16px;
  scroll-behavior: smooth;
}

body{
  background: linear-gradient(135deg, #000000 0%, #14213D 100%);
  color: white;
}

h1{
  font-size: 9.5rem;
  font-weight: 700;
}

h2{
  font-size: 5.9rem;
  font-weight: 700;
  line-height: 95px;
}

h3{
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 78px;
}

h5{
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 39px;
}

p{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
}

a{
  color: white;
  text-decoration: none;
}

header{
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

header > img{
  height: 70px;
  justify-self: start;
}

nav {
  display: none;
}

.actions>button{
  background-color: #FCA311;
  border-radius: 90px;
  padding: 10px 20px;
}

.actions>button>a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

main{
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  height: 90vh;
  justify-content: flex-end;
}

.data__title > *{
  padding-top: 15px;
}

.data__photo > img {
  height: 300px;
}

.data__social{
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(5,1fr);
  margin-top: 15px;
  text-align: center;
}

.data__social--square > a{
  background-color: #FCA311;
  border: 2px solid black;
  border-radius: 4px;
  padding: 15px;
}

.aboutme {
  padding: 40px 0;
  text-align: center;
}

.aboutme :nth-child(1){
  font-weight: 300;
}

.aboutme :nth-child(2){
  padding: 24px 0;
}

.project{
  display: grid;
  gap: 20px;
  grid-template-areas:  "img"
                        "data";
  padding: 50px 0;
}

.project__data {
  grid-area: data;
}

.project__image {
  grid-area: img;
}

.project__image > img {
  width: 100%;
}

.project__data > h5 {
  background-color: #0F0A0A;
  box-shadow: -4px 4px 0 white;
  color: #FCA311;
  display: inline-block;
  padding: 4px 8px ;
}

.project__data > p {
  padding: 16px 0;
}

.project__buttons {
  display: flex;
  flex-direction: column-reverse;
}

.project__buttons > *{
  text-align: center;
  margin: 8px 0;
}

.project__buttons--transparent> a,
.project__buttons--color> a {
  border: 2px solid white;
  border-radius: 50px;
  display: block;
  padding: 10px 20px;
}

.project__buttons--transparent> a{
  background-color: transparent;
}

.project__buttons--color> a{
  background-color: #FCA311;
}

.otherprojects {
  text-align: center;
}

.otherprojects > h5{
  background-color: #0F0A0A;
  box-shadow: -4px 4px 0 white;
  color: #FCA311;
  display: inline-block;
  margin-bottom: 10px;
  padding: 4px 8px ;
}

.otherprojects__gallery{
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  padding: 40px 0;
}

.otherprojects__card {
  background-color: white;
  border-radius: 20px 20px;
  color: black;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  padding-bottom: 20px;
}

.otherprojects__card--img>img {
  width:100%;
  border-radius: 20px 20px 0 0;
}

.otherprojects__card--body,
.otherprojects__card--footer {
  text-align: start;
  padding: 0px 20px;
}

.otherprojects__card--footer>a {
  background-color: #FCA311;
  border: 2px solid #0F0A0A;
  border-radius: 50px;
  display: block;
  padding: 15px 20px;
  text-align: center;
}

.letstalk > *{
  margin-bottom: 50px;
}

.letstalk > h5{
  background-color: #0F0A0A;
  box-shadow: -4px 4px 0 white;
  color: #FCA311;
  display: inline-block;
  margin-bottom: 30px;
  padding: 4px 8px ;
}

.letstalk > a{
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  display: block;
  padding: 15px 20px;
  text-align: center;
}


footer{
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 40px;
  text-align: center;
}

footer > *{
  padding: 10px 0;
}

footer > img{
  height: 80px;
}

/* Tablets and Desktop*/

@media (min-width: 768px){
  header{
    grid-template-columns: 1fr 2fr 1fr;
  }

  nav{
    display: block;
    flex-grow: 1;
    text-align: center;
  }

  nav>ul>li {
    display: inline-block;
    margin: 1vh;
  }

  nav>ul>li>a {
    color: white;
    font-size: 1.4rem;
    opacity: 0.5;
    text-decoration: none;
  }

  nav>ul>li>a:hover {
    opacity: 1;
  }

  .actions{
    display: none;
  }

  main{
    align-items: flex-start;
    flex-direction: row;
    height: 60vh;
    justify-content: space-evenly;
    padding: 40px 0;
  }

  .data__photo > img {
    height: 350px;
  }

  .aboutme {
    padding: 40px 40px;
  }

  .project{
    grid-template-areas:  "data img";
    grid-template-columns: 1fr 1fr;
    padding: 80px 20px;
  }

  .project__buttons {
    display: flex;
    flex-direction: row;
  }

  .project__buttons > *{
    margin-right: 7px;
  }

  .otherprojects__gallery{
    grid-template-columns: repeat(2,1fr);
  }

  .letstalk{
    padding: 40px 40px;
  }

  .letstalk > a{
    margin: 0 150px;
  }
}

/* DESKTOP */

@media only screen and (min-width: 992px) {
  main{
    padding: 60px 108px;
    height: 70vh;
  }

  .data__photo > img {
    height: 450px;
  }

  .aboutme {
    padding: 40px 200px;
  }

  .project{
    padding: 40px 128px;
  }

  .project__data {
    padding: 40px 0;
  }

  .project__image > img {
    width: 90%;
  }

  .otherprojects {
    padding: 120px 128px;
  }

  .otherprojects__gallery{
    grid-template-columns: repeat(3,1fr);
  }

  .letstalk{
    padding: 40px 200px;
  }

  .letstalk > a{
    margin: 0 100px;
  }

  footer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
}
